/** @format */

.project {
  padding-top: 120px;
  overflow-y: hidden;
  &-name,
  &-description {
    background: var(--btBg);
    box-shadow: var(--boxShadow);
    border-radius: 6px;
    padding: 2.5rem;
    @media (max-width : 576.9px) {
        padding: 1rem;
    }
  }
  &-name {
    a {
      color: var(--color);
      text-decoration: underline;
      opacity: 0.8;
    }
  }
  &-description {
    h5.title {
      span {
        font-size: 0.75em;
        opacity: 0.8;
      }
    }
    a {
        color: var(--color);
        text-decoration: underline;
        opacity: 0.8;
      }
  }
  &-languages {
    ul {
        flex-wrap: wrap;
        li {
            display: flex;
            align-items: center;
            min-width: 20%;
            margin-bottom: 1rem;
            margin-right: 1rem;
            span {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: red;
                display: block;
                margin-right: 0.5rem;
            }
           
        }
    }
  }
}
