/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
html {
  --bg: #ecf0f3;
  --color: #212428;
  --btBg: linear-gradient(145deg, #d8e1e7, #ffffff);
  --boxShadow: 5px 5px 15px #c5cfe0, -5px -5px 15px #ffffff;
  --btnColor: red;
}

@media (max-width: 767.9px) {
  html {
    font-size: 14px;
  }
}

html[data-theme="dark"] {
  --bg: #212428;
  --color: #ecf0f3;
  --btBg: linear-gradient(145deg, #1e2024, #23272b);
  --boxShadow: 5px 5px 15px #1c1e22, -5px -5px 15px #262a2e;
  --btnColor: yellow
;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg);
  color: var(--color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1.title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 22px;
}

h1.title span {
  color: red;
}

h1.title .span {
  color: inherit;
  font-size: 0.75em;
}

h2.title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color);
  margin-bottom: 100px;
}

h3.title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  background-color: var(--bg);
  padding: 1rem 0;
}

h4.title {
  font-size: 1.25rem;
  line-height: 39px;
  margin-bottom: 7px;
  font-weight: 600;
}

p {
  letter-spacing: 1px;
}

@media (max-width: 767.9px) {
  h1.title {
    font-size: 2rem;
  }
  h2.title {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  h3.title {
    font-size: 1.25rem;
    letter-spacing: 3px;
  }
}

@media (max-width: 576.9px) {
  h1.title {
    font-size: 1.5rem;
  }
  h2.title {
    font-size: 1.75rem;
  }
}

img {
  width: 100%;
}

.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--btBg);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.back-top i {
  font-size: 1.2rem;
  color: red;
}

.back-top:hover {
  background: red;
}

.back-top:hover i {
  color: white;
}

@media (max-width: 576.9px) {
  .back-top {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}

/** @format */
header {
  position: absolute;
  width: 100%;
  letter-spacing: 2px;
}

header .logo {
  font-size: 1.25rem;
  font-weight: 600;
}

header .logo a {
  height: 100%;
}

header .logo .img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #d1d9e6;
}

header .logo .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .navbar ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 600;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

@media (min-width: 991.9px) {
  header .navbar ul li:hover {
    color: red;
  }
}

header .navbar ul .mode {
  color: var(--btnColor);
}

@media (min-width: 991.9px) {
  header .navbar ul .mode {
    border-radius: 6px;
    font-size: 1.25rem;
    background: var(--btBg);
    -webkit-box-shadow: var(--boxShadow);
            box-shadow: var(--boxShadow);
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  header .navbar ul .mode:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    background: red;
    color: white;
  }
}

header .navbar ul .homebar {
  color: red;
}

header .navbar-btn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navbar-btn span {
  width: 30px;
  border-top: 2px solid var(--color);
  border-radius: 3px;
}

@media (max-width: 576.9px) {
  header {
    letter-spacing: 1px;
  }
  header .logo {
    font-size: 1rem;
  }
  header .logo .img {
    width: 45px;
    height: 45px;
  }
}

/** @format */
.home {
  min-height: 100vh;
}

.home .description {
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 500;
  opacity: 0.9;
  letter-spacing: 1px;
}

@media (max-width: 576.9px) {
  .home .description {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 25px;
  }
}

.home .main-skill {
  margin-top: 100px;
}

.home .main-skill span {
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 600;
  color: red;
}

.home .main-skill ul {
  padding-left: 0;
  margin-bottom: 0;
}

.home .main-skill ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 6px;
  background: var(--btBg);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
}

.home .main-skill ul li img {
  width: 30px;
  height: auto;
}

.home .main-skill ul li img.img {
  width: 60px;
}

@media (max-width: 767.9px) {
  .home .main-skill ul li {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  .home .main-skill ul li img {
    width: 20px;
  }
  .home .main-skill ul li img.img {
    width: 45px;
  }
}

.home .navbar-show {
  width: 100%;
  padding: 2rem;
  position: fixed;
  height: 100%;
  background: var(--btBg);
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1000;
}

.home .navbar-show .img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #d1d9e6;
}

.home .navbar-show .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .navbar-show .exit {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: red;
  background: var(--btBg);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
}

.home .navbar-show ul {
  width: 100%;
}

.home .navbar-show ul li {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.home .open-navbar {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#resume {
  padding-top: 120px;
}

#resume ul {
  position: relative;
}

#resume ul:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  height: 100%;
  width: 4px;
  background-color: #d9dee2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#resume ul li {
  margin-top: 3rem;
}

#resume ul li .timeline {
  width: 50%;
  position: relative;
  padding-right: 4rem;
  text-align: right;
}

#resume ul li .timeline-content {
  background: var(--btBg);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  padding: 3rem;
  border-radius: 6px;
}

#resume ul li .timeline-content h4 span {
  font-size: 0.75em;
  opacity: 0.75;
}

#resume ul li .timeline-content h4 span:last-child {
  letter-spacing: 2px;
}

#resume ul li .timeline-content p {
  margin-bottom: 0;
}

#resume ul li .timeline-dot {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid #d9dee2;
  border-radius: 50%;
  top: 3rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: #ecf0f3;
}

#resume ul li .timeline-dot::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#resume ul li .timeline-dot::before {
  position: absolute;
  content: "";
  width: calc(4rem + 8px);
  border-bottom: 4px solid #d9dee2;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 991.9px) {
  #resume ul li .timeline {
    width: 100%;
  }
  #resume ul li .timeline-dot {
    visibility: hidden;
  }
  #resume ul li .timeline-dot::after {
    visibility: hidden;
  }
  #resume ul li .timeline-dot::before {
    visibility: hidden;
  }
}

@media (max-width: 576.9px) {
  #resume ul li .timeline {
    padding: 0 !important;
  }
  #resume ul li .timeline-content {
    padding: 1rem;
  }
}

#resume ul li .timeline-right {
  margin-left: auto;
  padding-left: 4rem;
  padding-right: 0;
  text-align: left;
}

#resume ul li .timeline-right .timeline-dot {
  left: 0;
  -webkit-transform: scaleX(-1) translateX(50%);
          transform: scaleX(-1) translateX(50%);
}

/** @format */
#skills {
  padding-top: 120px;
}

#skills ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills ul li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  letter-spacing: 2px;
}

#skills ul li img {
  width: 50px;
  margin-right: 1rem;
  height: auto;
}

@media (max-width: 991.9px) {
  #skills ul li {
    width: calc( 100% / 3);
  }
  #skills ul li img {
    width: 40px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 767.9px) {
  #skills ul li {
    width: calc( 100% / 3);
  }
  #skills ul li img {
    width: 30px;
  }
}

@media (max-width: 576.9px) {
  #skills ul li {
    text-align: center;
  }
  #skills ul li div {
    margin: 0 auto;
  }
  #skills ul li span {
    display: block;
  }
  #skills ul li img {
    margin-right: 0;
  }
}

/** @format */
.project {
  padding-top: 120px;
}

.project-name, .project-description {
  background: var(--btBg);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  border-radius: 6px;
  padding: 2.5rem;
}

@media (max-width: 576.9px) {
  .project-name, .project-description {
    padding: 1rem;
  }
}

.project-name a {
  color: var(--color);
  text-decoration: underline;
  opacity: 0.8;
}

.project-description h5.title span {
  font-size: 0.75em;
  opacity: 0.8;
}

.project-description a {
  color: var(--color);
  text-decoration: underline;
  opacity: 0.8;
}

.project-languages ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-languages ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.project-languages ul li span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  display: block;
  margin-right: 0.5rem;
}

footer {
  color: var(--color);
  margin-top: 120px;
  overflow: hidden;
}

footer ul li a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  letter-spacing: 2px;
}

footer ul li a:hover {
  color: red;
}

footer .connect-items li {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}

footer .connect-items li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.9px) {
  footer .connect-items li {
    width: 25px;
    height: 25px;
  }
}
/*# sourceMappingURL=style.css.map */