/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Satisfy&display=swap");
html,
body {
  color: white;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #033c91;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
  z-index: 100;
}

.back-top:hover {
  opacity: 1 !important;
}

@media (max-width: 576.9px) {
  .back-top {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}

.down {
  font-size: 1.8rem;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-animation: down 1s infinite;
          animation: down 1s infinite;
  cursor: pointer;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/** @format */
.home {
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.4))), url(../imgs/bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../imgs/bg.jpg);
  background-size: cover;
  background-position: center;
  font-size: 80px;
}

.home h1 {
  font-family: "Satisfy", cursive;
  font-weight: bold;
  color: #ffb03b;
  font-size: 1em;
}

.home h1 span {
  color: white;
}

.home p {
  font-size: 0.2em;
}

.home .navbar-show {
  width: 40%;
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1000;
}

.home .navbar-show ul li {
  opacity: 0;
}

.home .navbar-show .exit {
  font-size: 1.5rem;
  padding: 1rem;
  opacity: 0;
}

.home .open-navbar {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.home .open-navbar .exit {
  opacity: 1;
}

.home .open-navbar ul li:nth-child(1) {
  -webkit-animation: showItems 700ms forwards;
          animation: showItems 700ms forwards;
}

.home .open-navbar ul li:nth-child(2) {
  -webkit-animation: showItems 700ms 100ms forwards;
          animation: showItems 700ms 100ms forwards;
}

.home .open-navbar ul li:nth-child(3) {
  -webkit-animation: showItems 700ms 200ms forwards;
          animation: showItems 700ms 200ms forwards;
}

.home .open-navbar ul li:nth-child(4) {
  -webkit-animation: showItems 700ms 300ms forwards;
          animation: showItems 700ms 300ms forwards;
}

.home .open-navbar ul li:nth-child(5) {
  -webkit-animation: showItems 700ms 400ms forwards;
          animation: showItems 700ms 400ms forwards;
}

@-webkit-keyframes showItems {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showItems {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

header {
  position: absolute;
  top: 50px;
  width: 100%;
}

header .logo {
  font-size: 40px;
  font-family: "Satisfy", cursive;
}

.navbar ul li {
  font-size: 1.1rem;
  margin-left: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #ffb03b;
}

.navbar ul .homebar {
  color: #ffb03b;
}

.navbar-btn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-btn span {
  width: 30px;
  border-top: 3px solid white;
  border-radius: 3px;
}

@media (max-width: 991.9px) {
  .home {
    font-size: 60px;
  }
}

@media (max-width: 576.9px) {
  .home h1 {
    font-size: 0.6em;
  }
  .home .navbar-show {
    width: 230px;
  }
}

.about {
  color: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about h2 {
  color: #5f5950;
}

.about-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.about-details div strong {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.about-details div span {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  text-align: left;
}

.skills {
  padding-top: 80px;
  color: #5f5950;
}

.skills h2 {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #ffb03b;
}

.skills h2 span {
  font-size: 0.6em;
  opacity: 0.8;
  color: #5f5950;
}

.skills .skill-box {
  -webkit-box-shadow: 0 0 10px 0px #d8d8d8;
          box-shadow: 0 0 10px 0px #d8d8d8;
  padding: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  height: 100%;
  text-align: center;
}

.skills .skill-box .skill-logo i {
  font-size: 50px;
}

.skills .skill-box span {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  display: block;
}

.skills .skill-box p {
  margin-bottom: 0;
}

.skills .skill-box:hover {
  background: #ffb03b;
  -webkit-box-shadow: 0 0 10px 0px #ffb03b;
          box-shadow: 0 0 10px 0px #ffb03b;
  color: white;
}

.project {
  padding-top: 80px;
  color: #5f5950;
}

.project h2 {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #ffb03b;
}

.project-box {
  background: #222831;
  color: white;
  padding: 1.5rem;
  border-radius: 5px;
  height: 100%;
}

.project-box .project-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.project-box .project-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-box .project-info span {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #ffb03b;
  font-size: 2rem;
}

.project-box .project-info p {
  margin-bottom: 0;
}

.project-box .project-info button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background: #ffb74c;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #222831;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.project-box .project-info button:hover {
  background: #ffad32;
  color: black;
}

footer {
  margin-top: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.4))), url(../imgs/f.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../imgs/f.jpg);
  background-size: cover;
  overflow: hidden;
}

footer h3 {
  font-family: 'Satisfy', cursive;
}

footer ul li a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer ul li a:hover {
  color: #ffb03b;
}

footer .connect-items li i {
  font-size: 1.5rem;
}

footer .footer-bottom {
  font-family: 'Satisfy', cursive;
  color: #ffb03b;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */